Repository martiniani-lab/pele: changes, and which Codecov flags are due for each by the changed paths.
All: python, cpp

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        # Don't fail CI based on coverage - just report it
        if_ci_failed: success
        
    patch:
      default:
        target: auto
        threshold: 1%
        # Don't fail CI based on coverage - just report it
        if_ci_failed: success

  # Parse both Python and C++ coverage reports
  parsers:
    gcov:
      branch_detection:
        conditional: true
        loop: true
        method: false
        macro: false

# Flag configuration for different types of coverage
flags:
  python:
    paths:
      - pele/
    carryforward: false
  cpp:
    paths:
      - source/
      - cpp_tests/
    carryforward: false

# Ignore paths that shouldn't be included in coverage
ignore:
  - "extern/"
  - "build/"
  - "cpp_tests/gtest/"
  - "**/tests/**"
  - "**/test_*"
  - "pele/gui/"
  - "setup*.py"
  - "cythonize.py"

comment:
  layout: "header, diff, flags, files, footer"
  behavior: default
  require_changes: false

add explicit static link to libstdc++ to avoid conda conflict for certain compilers, fix docs
  CMakeLists.txt.in
  README.rst
Due: none

fix code coverage
  cpp_tests/source/CMakeModules/CodeCoverage.cmake
Due: cpp

testing
  .github/workflows/test.yml
  cpp_tests/source/CMakeModules/CodeCoverage.cmake
Due: cpp

update gitignore
  .gitignore
Due: none

use newer ubuntu version for newer lcov version
  .github/workflows/test.yml
Due: none

fix missing ubuntu issues
  .github/workflows/test.yml
Due: none

force gcov version
  .github/workflows/test.yml
Due: none

unforce gcc-12 and gcov
  .github/workflows/test.yml
Due: none

ignore mismatch errors
  cpp_tests/source/CMakeModules/CodeCoverage.cmake
Due: cpp

don't remove coverage file
  cpp_tests/source/CMakeModules/CodeCoverage.cmake
Due: cpp

fix python linking issues in ci
  setup_with_cmake.py
Due: none

add debugging to environment
  .github/workflows/test.yml
  debug_python_config.py
  setup_with_cmake.py
Due: none

use conda python instead to solve c.i compile
  .github/workflows/test.yml
Due: none

fix wca bug
  pele/potentials/_hs_wca_cpp.pyx
Due: python

add hard sphere inverse power to init
  pele/potentials/__init__.py
Due: python

add cython 3 debug symbols
  setup_with_cmake.py
Due: none

ignore cython debug symbols
  .gitignore
Due: none

add to init
  pele/potentials/__init__.py
Due: python

vscode properties
  .vscode/c_cpp_properties.json
Due: none

revert static libstdc++ linking in CMakeLists.txt.in
  CMakeLists.txt.in
Due: none

add GMIN MYLBFGS bridge (opt-in via PELE_WITH_GMIN=1)
  CMakeLists.txt.in
  pele/optimize/_gmin_lbfgs.pyx
  pele/optimize/tests/test_gmin_lbfgs.py
  setup_with_cmake.py
  source/gmin/pele_gmin_bridge.cpp
  source/gmin/pele_gmin_shim.f90
  source/gmin/pele_gmin_wrapper.f90
Due: python, cpp

add GMIN CGMIN (conjugate gradient) to the bridge
  pele/optimize/_gmin_lbfgs.pyx
  pele/optimize/tests/test_gmin_lbfgs.py
  source/gmin/pele_gmin_wrapper.f90
Due: python, cpp

Fix Tests badge: point at test.yml on master, allow manual runs
  .github/workflows/test.yml
  README.rst
Due: none

CI: use gcc-15 on macOS (gcc-13 fails on MacOSX26 SDK), disable fail-fast
  .github/workflows/test.yml
Due: none

CI: test on Python 3.12 with meson backend for f2py
  .github/workflows/test.yml
Due: none

CI: diagnose macOS import abort of f2py modules
  .github/workflows/test.yml
Due: none

Make pele pip-installable and add a conda-forge recipe
  CMakeLists.txt.in
  conda-recipe/recipe.yaml
  cythonize.py
  pele/optimize/_quench.py
  pele/utils/cell_scale.py
  pyproject.toml
  setup.py
  setup_with_cmake.py
  source/cvode.cpp
  source/extended_mixed_descent.cpp
  source/pele/cvode.hpp
Due: python, cpp

Don't link the C++ runtime by hand
  CMakeLists.txt.in
Due: none

Fix scipy 1.18 and matplotlib 3.11 API removals
  pele/optimize/_quench.py
  pele/utils/disconnectivity_graph.py
Due: python

Ship C++ sources and .pxd files; add pele.get_include(); default sun_inst.sh to Release
  README.rst
  extern/sun_inst.sh
  pele/__init__.py
  setup.py
Due: python

Remove C++ runtime linking comments
  CMakeLists.txt.in
Due: none

CI: parallel C++/Python jobs, ccache, no duplicate C++ test run
  .github/workflows/test.yml
Due: none

Make C++ tests deterministic; shrink EMXD.Reset
  cpp_tests/source/test_check_copy_assignment_cvode.cpp
  cpp_tests/source/test_combined_potential.cpp
  cpp_tests/source/test_generic_mixed_descent.cpp
  cpp_tests/source/test_mixed_descent.cpp
  cpp_tests/source/test_mixed_descent_extended_potential.cpp
Due: none

cythonize: include Cython/NumPy versions in the cache key
  cythonize.py
Due: none

CI: add pip-install job in a conda-forge environment
  .github/workflows/test.yml
Due: none

EMXD: drop unused eigensolve, reuse Cholesky factor for Newton step
  source/extended_mixed_descent.cpp
Due: cpp

setup.py: install all test data; write version.py before setup()
  setup.py
Due: none

CI: time out the pip-install job
  .github/workflows/test.yml
Due: none

CI: key ccache on the resolved -march=native target
  .github/workflows/test.yml
Due: none
